/* Whole document: */
body {
  font-family: TimesNewRoman; font-size: 10pt;
}
/* Headers */
h1 {
  font-family: TimesNewRoman; font-size: 12pt; font-weight: 700;
}
h2,h3,h4,h5,h6 {
  font-family: TimesNewRoman; font-size: 10pt; font-weight: 700;
}

